/* Homework 10082016_01*/
/* To try to keep things ordered */
/* First Geometry/Shape Info */
/* Second Cosmetic Info */
/* Third Font Info */
* {
  box-sizing: border-box;
  background-color: #777;    /* 3a instructions*/
  text-align: center;
  font-size: 16px;
  /*font-color: #777;*/
}

body {
	/*border-style: dashed;*/ /*Remove later*/
	line-height: 40px;
	margin-left: 100px;
	margin-right: 100px;
	color: #ebebeb; /* 3b instructions - font color*/
}
header, nav, footer {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
}
footer {
	clear: both;
}
.mcontent {
	clear: both;
	width: 100%;
	overflow: auto;
	/*border-style: dashed;*/
}
section, aside{
	/*height: 200px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	border: 2px solid #eee;
	overflow:auto;
}
section {
	width: 64%;
	margin-right: 2%;
	float: left;
}
aside {
	width: 31%;
	margin-left: 2%;
	float: right;
}
article {
	/*border-style: dotted;*/ 
	height: 130;
	width: 96%;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	float: left;
}
p {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
}



